* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.hide {
	display: none;
}

body{
	padding: 1rem;
	width: 100%;
	min-height: 100vh;
	background-color: white;	
	display: flex;
	flex-direction: column;
}

.header-img {
	display: flex;
	width: 100%;
	max-width: 600px;
	margin-inline: auto;
	user-drag: none;
	-webkit-user-drag:none;
}

.btn_container {
	flex: 1;
	position: relative;
	isolation: isolate;
	width: 100%;
	max-width: 1200px;
	margin-inline: auto;
}

.image-1, .image-2 {
	user-select: none;
	user-drag: none;
	-webkit-user-drag:none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.image-1 {
	width: 20em;
}

.image-2 {
	width: 30em;
}

.column {
	flex: 50%;
}

.btn {
	position: absolute;
	height: 3rem;
	width: 7.5rem;
	font-size: 1.5rem;
	border-radius:5px;
	border: none;
	margin: 0.1em;
	box-shadow: 1px 1px 5px black;
	background-color: white;	
	cursor: pointer;
}

.btn:hover {
	background-color: #e2e8f0;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

.btn-yes {
	left: 50%;	
	transform: translateX(calc(-100% - 1rem));
	z-index: 1;
}

.btn-no{
	position: absolute;
	left: calc(50% + 1rem);	
	z-index: 2;
}
